{{ include('base.html.twig') }}
{% block body %}
	<div style="margin-top:50px;margin-left:50px;width:50%;">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
       